In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/admin/OneDrive/Pictures/OneDrive/Desktop/bangalore house price prediction .csv")

In [3]:
data

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3,2.0,325.00,2900.0,3,11206.896550,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
### printing shape of dataframe
data.shape

(7120, 108)

#### Exploratery data analysis (EDA)

In [5]:
## number of columns in the dataset
data.columns

Index(['bath', 'balcony', 'price', 'total_sqft_int', 'bhk', 'price_per_sqft',
       'area_typeSuper built-up  Area', 'area_typeBuilt-up  Area',
       'area_typePlot  Area', 'availability_Ready To Move',
       ...
       'location_Kalena Agrahara', 'location_Horamavu Agara',
       'location_Vidyaranyapura', 'location_BTM 2nd Stage',
       'location_Hebbal Kempapura', 'location_Hosur Road',
       'location_Horamavu Banaswadi', 'location_Domlur',
       'location_Mahadevpura', 'location_Tumkur Road'],
      dtype='object', length=108)

In [6]:
df = data

In [7]:
df.head(4)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
x = df.iloc[:,0:-1].values ## we have creat x and y
x

array([[  3.,   2., 150., ...,   0.,   0.,   0.],
       [  3.,   3., 149., ...,   0.,   0.,   0.],
       [  3.,   2., 150., ...,   0.,   0.,   0.],
       ...,
       [  2.,   1.,  48., ...,   0.,   0.,   0.],
       [  2.,   1.,  55., ...,   0.,   0.,   0.],
       [  2.,   1.,  78., ...,   0.,   0.,   0.]])

In [9]:
y = df.iloc[0:1].values
y

array([[3.00000000e+00, 2.00000000e+00, 1.50000000e+02, 1.67200000e+03,
        3.00000000e+00, 8.97129187e+03, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

#### printing shape of x and y

In [10]:
x.shape

(7120, 107)

In [11]:
y.shape

(1, 108)

In [12]:
x = df.drop('price',axis=1)
y = df['price']

In [13]:
print('shape of x= ', x.shape)
print('shape of  y = ', y.shape)

shape of x=  (7120, 107)
shape of  y =  (7120,)

In [14]:
## information about dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7120 entries, 0 to 7119
Columns: 108 entries, bath to location_Tumkur Road
dtypes: float64(4), int64(104)
memory usage: 5.9 MB

In [15]:
df.describe()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
count,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,...,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000,7120.000000
mean,2.390871,1.572759,96.454991,1479.729806,2.465169,5923.806855,0.750702,0.182303,0.061938,0.792697,...,0.003090,0.003090,0.002949,0.002949,0.002949,0.002949,0.002809,0.002809,0.002809,0.002809
std,0.876822,0.770583,116.185034,913.779769,0.841520,2556.650935,0.432637,0.386121,0.241060,0.405403,...,0.055505,0.055505,0.054232,0.054232,0.054232,0.054232,0.052929,0.052929,0.052929,0.052929
min,1.000000,0.000000,10.000000,350.000000,1.000000,1250.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,49.230000,1100.000000,2.000000,4416.761042,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,2.000000,69.000000,1255.000000,2.000000,5417.855612,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,2.000000,104.000000,1640.250000,3.000000,6618.285651,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,3.000000,2912.000000,30400.000000,9.000000,35000.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
## checking the some null value or not
df.isnull()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7116,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7117,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7118,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7119,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### data cleaning

In [17]:
df = data.isnull().sum()

df

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [18]:
data.isna().sum()

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

#### Drop Some Features

In [19]:
data.drop(['location_Whitefield','location_Electronic City','availability_Ready To Move','location_Marathahalli','location_Raja Rajeshwari Nagar'],axis='columns')

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,location_Sarjapur Road,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3,2.0,150.00,1672.0,3,8971.291866,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,3.0,149.00,1750.0,3,8514.285714,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2.0,150.00,1750.0,3,8571.428571,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2.0,40.00,1250.0,2,3200.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,83.00,1200.0,2,6916.666667,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3,2.0,325.00,2900.0,3,11206.896550,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7116,3,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2,1.0,48.00,880.0,2,5454.545455,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7118,2,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data.shape

(7120, 108)

In [21]:
data.head

<bound method NDFrame.head of       bath  balcony   price  total_sqft_int  bhk  price_per_sqft  \
0        3      2.0  150.00          1672.0    3     8971.291866
1        3      3.0  149.00          1750.0    3     8514.285714
2        3      2.0  150.00          1750.0    3     8571.428571
3        2      2.0   40.00          1250.0    2     3200.000000
4        2      2.0   83.00          1200.0    2     6916.666667
...    ...      ...     ...             ...  ...             ...
7115     3      2.0  325.00          2900.0    3    11206.896550
7116     3      1.0   84.83          1780.0    3     4765.730337
7117     2      1.0   48.00           880.0    2     5454.545455
7118     2      1.0   55.00          1000.0    2     5500.000000
7119     2      1.0   78.00          1400.0    3     5571.428571

      area_typeSuper built-up  Area  area_typeBuilt-up  Area  \
0                                 1                        0
1                                 0                        1
2                                 1                        0
3                                 1                        0
4                                 0                        0
...                             ...                      ...
7115                              1                        0
7116                              1                        0
7117                              0                        0
7118                              0                        0
7119                              0                        0

      area_typePlot  Area  availability_Ready To Move  ...  \
0                       0                           1  ...
1                       0                           1  ...
2                       0                           1  ...
3                       0                           1  ...
4                       1                           1  ...
...                   ...                         ...  ...
7115                    0                           1  ...
7116                    0                           0  ...
7117                    1                           1  ...
7118                    1                           0  ...
7119                    1                           0  ...

      location_Kalena Agrahara  location_Horamavu Agara  \
0                            0                        0
1                            0                        0
2                            0                        0
3                            0                        0
4                            0                        0
...                        ...                      ...
7115                         0                        0
7116                         0                        0
7117                         0                        0
7118                         0                        0
7119                         0                        0

      location_Vidyaranyapura  location_BTM 2nd Stage  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
7115                        0                       0
7116                        0                       0
7117                        0                       0
7118                        0                       0
7119                        0                       0

      location_Hebbal Kempapura  location_Hosur Road  \
0                             0                    0
1                             0                    0
2                             0                    0
3                             0                    0
4                             0                    0
...                         ...                  ...
7115                          0                    0
7116                          0                    0
7117                          0                    0
7118                          0                    0
7119                          0                    0

      location_Horamavu Banaswadi  location_Domlur  location_Mahadevpura  \
0                               0                0                     0
1                               0                0                     0
2                               0                0                     0
3                               0                0                     0
4                               0                0                     0
...                           ...              ...                   ...
7115                            0                0                     0
7116                            0                0                     0
7117                            0                0                     0
7118                            0                0                     0
7119                            0                0                     0

      location_Tumkur Road
0                        0
1                        0
2                        0
3                        0
4                        0
...                    ...
7115                     0
7116                     0
7117                     0
7118                     0
7119                     0

[7120 rows x 108 columns]>

In [22]:
df1 = data.dropna()
df1.isnull().sum()

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [23]:
df1.shape

(7120, 108)

###  Training And Testing Our Model

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=51)

In [26]:
x_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
7112,5,2.0,2500.0,6,7400.000000,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2169,2,0.0,995.0,2,4623.115578,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
47,2,2.0,1180.0,2,7500.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
446,2,1.0,1450.0,3,5862.068966,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2650,2,1.0,1197.0,2,6432.748538,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6672,2,1.0,1246.0,2,5457.463884,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1733,2,1.0,1010.0,2,5742.574257,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1760,2,2.0,1080.0,2,4629.629630,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
485,2,2.0,982.0,2,2500.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2105,2,1.0,1000.0,2,2888.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y_train

7112    185.00
2169     46.00
47       88.50
446      85.00
2650     77.00
         ...
6672     68.00
1733     58.00
1760     50.00
485      24.55
2105     28.88
Name: price, Length: 5696, dtype: float64

In [28]:
x_train.shape

(5696, 107)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
LinReg = LinearRegression() 
LinReg

LinearRegression()

In [31]:
 ###  we have fit our model
LinReg.fit(x_train,y_train)

LinearRegression()

In [32]:
LinReg.coef_
LinReg.intercept_

-127.23946860161394

In [33]:
pred_LinReg = LinReg.predict(x_test)### we have find the predict value
pred_LinReg

array([ 76.90661876,  15.25005377, 113.68281651, ...,  21.30296863,
        71.43462963, 230.04146251])

In [34]:
x_test

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2435,3,1.584376,1700.0,3,4705.882353,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3113,2,2.000000,1016.0,2,3937.007874,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
426,4,2.000000,1950.0,3,6153.846154,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1124,2,1.000000,1350.0,2,5851.851852,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1161,2,1.000000,850.0,2,5294.117647,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078,2,1.000000,1090.0,2,2600.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6855,3,1.000000,1585.0,3,5299.684543,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4381,1,2.000000,665.0,1,4812.030075,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3862,2,1.000000,1167.0,2,5398.457584,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,2,0.000000,1566.0,2,11494.252870,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

In [36]:
import seaborn as sns
from sklearn.metrics import r2_score

In [37]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [38]:
df

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [39]:
df.head()

bath              0
balcony           0
price             0
total_sqft_int    0
bhk               0
dtype: int64

In [40]:
df.isnull().sum()

0

In [41]:
df = df.fillna(0)

In [42]:
## standared method to choose the k
#### sqrt(n)
from math import sqrt

## Banglore House Price Prediction

In [43]:
df

bath                           0
balcony                        0
price                          0
total_sqft_int                 0
bhk                            0
                              ..
location_Hosur Road            0
location_Horamavu Banaswadi    0
location_Domlur                0
location_Mahadevpura           0
location_Tumkur Road           0
Length: 108, dtype: int64

In [44]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=3)
                                         ### we have predict the model
knn.fit(x_train,y_train)
pred = knn.predict(x_test)

knn.score(x_test,y_test)

0.907787835776612

#### Predict The Value Of House

In [45]:
x_test.iloc[-1,:]

bath                               2.00000
balcony                            0.00000
total_sqft_int                  1566.00000
bhk                                2.00000
price_per_sqft                 11494.25287
                                  ...
location_Hosur Road                0.00000
location_Horamavu Banaswadi        0.00000
location_Domlur                    0.00000
location_Mahadevpura               0.00000
location_Tumkur Road               0.00000
Name: 43, Length: 107, dtype: float64

In [46]:
knn.predict([x_test.iloc[-1,:]])

C:\ProgramData\Anaconda1\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([180.66666667])

In [47]:
y_test.iloc[-1]

180.0

In [48]:
y_pred =knn.predict(x_test)
y_pred

array([ 77.96333333,  39.84666667, 121.        , ...,  32.34166667,
        62.66666667, 180.66666667])

## -------------> COMPLETE <-------------